.imgsize{
    width: 50%;
    height: 14vw;
    object-fit: cover;
}
.clrgrad
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,186,218,1) 100%);
}
.mt-6
{
    margin-top: 6rem;
}
.mt-7
{
    margin-top: 7rem;
}